<a href="https://colab.research.google.com/github/Anjanisinghthakur/Google-Colab/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .master('local[*]') \
        .appName('Basics') \
        .getOrCreate()
lst=[100,2,5,6,8,10,1]
rr= spark.sparkContext.parallelize(lst,2)
rr.reduce(lambda x,y: x+y)
rr.reduce(lambda x,y: x*y)

480000

In [9]:
#join dataframes
df1=spark.read.csv('/content/sample_data/file1.csv', header=True)
df1.show()
df2=spark.read.csv('/content/sample_data/file2.csv', header=True)
df2.show()
res=df1.join(df2,on='empID',how='right')
res.show()
print(f'Data types of all the columns is : {res.dtypes}')
#Type conversion
res1=df = res.withColumn("Salary", res["Salary"].cast("integer"))
#Aggregarion
df3=res1.groupBy('Position').sum('Salary')
df3.show()
print(f'Data types of all the columns is : {df3.dtypes}')
#Sort data
print("Removing Nulls")
df3.filter(df3['Position']!='').show()
print("Sorting Data")
df3.orderBy('sum(Salary)', ascending=True).show()
#Filtering Data
df4=df3.filter(res['Position']=='DE')
df4.show()

+-----+--------+-----------+
|empID|Mananger|   Position|
+-----+--------+-----------+
|    1|   Gagan|        SSE|
|    2|    Ravi|         DE|
|    3|   Tommy|         SE|
|    4|  Neelam|         PM|
|    5|    Jaya|Consulatant|
|    6|   Rudra|        SSE|
|    7|    Anju|        SSE|
|    8| Prakshi|         DE|
+-----+--------+-----------+

+-----+------+------+
|Empid|  Name|Salary|
+-----+------+------+
|    1| Harry| 30000|
|    2|  Ron | 35000|
|    3|Fatima| 40000|
|    4| larry| 45000|
|    5| Reema| 50000|
|    6|  Jean| 55000|
|    7|Jarvis| 60000|
|    8| Happy| 65000|
|    9|   Tom| 70000|
+-----+------+------+

+-----+--------+-----------+------+------+
|Empid|Mananger|   Position|  Name|Salary|
+-----+--------+-----------+------+------+
|    1|   Gagan|        SSE| Harry| 30000|
|    2|    Ravi|         DE|  Ron | 35000|
|    3|   Tommy|         SE|Fatima| 40000|
|    4|  Neelam|         PM| larry| 45000|
|    5|    Jaya|Consulatant| Reema| 50000|
|    6|   Rudra|        SSE|  Jean| 55000|
|    7|    Anju|        SSE|Jarvis| 60000|
|    8| Prakshi|         DE| Happy| 65000|
|    9|    NULL|       NULL|   Tom| 70000|
+-----+--------+-----------+------+------+

Data types of all the columns is : [('Empid', 'string'), ('Mananger', 'string'), ('Position', 'string'), ('Name', 'string'), ('Salary', 'string')]
+-----------+-----------+
|   Position|sum(Salary)|
+-----------+-----------+
|         PM|      45000|
|        SSE|     145000|
|       NULL|      70000|
|         DE|     100000|
|Consulatant|      50000|
|         SE|      40000|
+-----------+-----------+

Data types of all the columns is : [('Position', 'string'), ('sum(Salary)', 'bigint')]
Removing Nulls
+-----------+-----------+
|   Position|sum(Salary)|
+-----------+-----------+
|         PM|      45000|
|        SSE|     145000|
|         DE|     100000|
|Consulatant|      50000|
|         SE|      40000|
+-----------+-----------+

Sorting Data
+-----------+-----------+
|   Position|sum(Salary)|
+-----------+-----------+
|         SE|      40000|
|         PM|      45000|
|Consulatant|      50000|
|       NULL|      70000|
|         DE|     100000|
|        SSE|     145000|
+-----------+-----------+

+--------+-----------+
|Position|sum(Salary)|
+--------+-----------+
|      DE|     100000|
+--------+-----------+