In [1]:
from pyspark.sql import SparkSession

In [3]:
!pip install mysql.connector

Requirement already satisfied: mysql.connector in c:\users\hp\anaconda3\lib\site-packages (2.2.9)

In [ ]:
#RUN THIS QUERY IN MYSQL WORKBENCH
alter user 'root'@'localhost' identified with 'mysql_native_password' by '';

In [8]:
import mysql.connector
import pandas as pd
connection=mysql.connector.connect(host='localhost',user='root',password='', database='employees')

In [9]:
pd.read_sql_query('select * from departments', connection)

C:\Users\hp\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

  dept_no           dept_name
0    d009    Customer Service
1    d005         Development
2    d002             Finance
3    d003     Human Resources
4    d001           Marketing
5    d004          Production
6    d006  Quality Management
7    d008            Research
8    d007               Sales