<a href="https://colab.research.google.com/github/Anjanisinghthakur/Google-Colab/blob/main/Pyspark_DF3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [33]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import row_number, desc, rank, dense_rank, lead, lag, sum
from pyspark.sql.window import Window

spark=SparkSession.builder.appName("Myapp").master("local[*]").getOrCreate()
employees = [
    ["John Doe", 30, "Software Engineer", 60000],
    ["Jane Smith", 28, "Software Engineer", 55000],
    ["Mike baby", 35, "Data Analyst", 70000],
    ["Harry Potter", 38, "Data Analyst", 55000],
    ["joe goe", 25, "Project Manager", 65000],
    ["cue be", 45, "", 75000],
    ["pagal", 30, "CEO", 95000],
    ["lallu", 50, "CTO", 105000]
]

employee_schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Position", StringType(), True),
    StructField("Salary", IntegerType(), True)
])
df=spark.createDataFrame(employees,schema=employee_schema)
data = [
    ["USA", "Laptop", 100],
    ["USA", "Mobile", 200],
    ["India", "Laptop", 150],
    ["India", "Mobile", 300],
    ["India", "Tablet", 50],
]
sch="Country string, Product string, Amount integer"
new_df=spark.createDataFrame(data, ["country", "product", "amount"])
new_df.show()
pivot_df=new_df.groupBy("product").pivot("country").sum("amount")
pivot_df.show()
window=Window.orderBy((df.Salary))
df1=df.withColumn("rn",lead(df.Salary).over(window))
df1.show()

+-------+-------+------+
|country|product|amount|
+-------+-------+------+
|    USA| Laptop|   100|
|    USA| Mobile|   200|
|  India| Laptop|   150|
|  India| Mobile|   300|
|  India| Tablet|    50|
+-------+-------+------+

+-------+-----+----+
|product|India| USA|
+-------+-----+----+
| Laptop|  150| 100|
| Mobile|  300| 200|
| Tablet|   50|NULL|
+-------+-----+----+

+------------+---+-----------------+------+------+
|        Name|Age|         Position|Salary|    rn|
+------------+---+-----------------+------+------+
|  Jane Smith| 28|Software Engineer| 55000| 55000|
|Harry Potter| 38|     Data Analyst| 55000| 60000|
|    John Doe| 30|Software Engineer| 60000| 65000|
|     joe goe| 25|  Project Manager| 65000| 70000|
|   Mike baby| 35|     Data Analyst| 70000| 75000|
|      cue be| 45|                 | 75000| 95000|
|       pagal| 30|              CEO| 95000|105000|
|       lallu| 50|              CTO|105000|  NULL|
+------------+---+-----------------+------+------+