<a href="https://colab.research.google.com/github/Anjanisinghthakur/Google-Colab/blob/main/Pyspark_DF1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pwd

'/content'

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
#if else
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
from pyspark.sql.functions import when, spark_partition_id, broadcast

spark = SparkSession.builder.appName("repartitioning+Joins+cascading_droadcast join").getOrCreate()
employees = [
    ["John Doe", 30, "Software Engineer", 60000],
    ["Jane Smith", 28, "Software Engineer", 55000],
    ["Mike baby", 35, "Data Analyst", 75000],
    ["Harry Potter", 38, "Data Analyst", 75000],
    ["joe goe", 25, "Project Manager", 75000],
    ["cue be", 45, "", 75000]
]

employee_schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Age", IntegerType(), True),
    StructField("Position", StringType(), True),
    StructField("Salary", IntegerType(), True)
])
df=spark.createDataFrame(employees,schema=employee_schema)
df2=df.withColumn("Pos", when(df.Position=="","None").otherwise(df.Position))
df.fillna(0)

DataFrame[Name: string, Age: int, Position: string, Salary: int]

In [ ]:
# repartitioning + coalesce +spark_partition_id
df=df.repartition(4,df.Position)
df=df.coalesce(2)
df.rdd.getNumPartitions()
emp1=df.repartition(4,df.Position).withColumn("Partitionnum",spark_partition_id())
emp1.show()

+------------+---+-----------------+------+------------+
|        Name|Age|         Position|Salary|Partitionnum|
+------------+---+-----------------+------+------------+
|   Mike baby| 35|     Data Analyst| 75000|           0|
|Harry Potter| 38|     Data Analyst| 75000|           0|
|     joe goe| 25|  Project Manager| 75000|           0|
|      cue be| 45|                 | 75000|           0|
|    John Doe| 30|Software Engineer| 60000|           2|
|  Jane Smith| 28|Software Engineer| 55000|           2|
+------------+---+-----------------+------+------------+

In [ ]:

#Joins + cascading(extra conditions) joins
#for and condition use & and for or condition use |

emp_list = [
    [101, "Alice", 1],
    [102, "Bob", 2],
    [103, "Charlie", 1],
    [104, "David", 3],
    [105, "Happy", 4],
    [106, "Cute", 5],
    [108, "Love", 2],
    [109, "Kiki", 2],
    [110, "Doe", 2],


]

dept_list = [
    [1, "HR"],
    [2, "Finance"],
    [3, "Marketing"],
    [4, "IT"]
]
emp_schema = "emp_id int, name string, dept_id int"
dept_schema = "dept_id int, dept_name string"

emp=spark.createDataFrame(emp_list,schema=emp_schema)
dept=spark.createDataFrame(dept_list,schema=dept_schema)
emp.show()
dept.show()
joined=emp.join(broadcast(dept),how="inner",on=(emp.dept_id==dept.dept_id) & ((emp.dept_id==1) | (emp.dept_id==2))
& (emp.name!="")
                )

join1=emp.join(dept, how="cross")
join1.show()
joined.select(emp.name,dept.dept_id,dept.dept_name).show()
joined.explain()

+------+-------+-------+
|emp_id|   name|dept_id|
+------+-------+-------+
|   101|  Alice|      1|
|   102|    Bob|      2|
|   103|Charlie|      1|
|   104|  David|      3|
|   105|  Happy|      4|
|   106|   Cute|      5|
|   108|   Love|      2|
|   109|   Kiki|      2|
|   110|    Doe|      2|
+------+-------+-------+

+-------+---------+
|dept_id|dept_name|
+-------+---------+
|      1|       HR|
|      2|  Finance|
|      3|Marketing|
|      4|       IT|
+-------+---------+

+------+-------+-------+-------+---------+
|emp_id|   name|dept_id|dept_id|dept_name|
+------+-------+-------+-------+---------+
|   101|  Alice|      1|      1|       HR|
|   101|  Alice|      1|      2|  Finance|
|   102|    Bob|      2|      1|       HR|
|   102|    Bob|      2|      2|  Finance|
|   103|Charlie|      1|      1|       HR|
|   103|Charlie|      1|      2|  Finance|
|   104|  David|      3|      1|       HR|
|   104|  David|      3|      2|  Finance|
|   101|  Alice|      1|      3|Marketing|
|   101|  Alice|      1|      4|       IT|
|   102|    Bob|      2|      3|Marketing|
|   102|    Bob|      2|      4|       IT|
|   103|Charlie|      1|      3|Marketing|
|   103|Charlie|      1|      4|       IT|
|   104|  David|      3|      3|Marketing|
|   104|  David|      3|      4|       IT|
|   105|  Happy|      4|      1|       HR|
|   105|  Happy|      4|      2|  Finance|
|   106|   Cute|      5|      1|       HR|
|   106|   Cute|      5|      2|  Finance|
+------+-------+-------+-------+---------+
only showing top 20 rows

+-------+-------+---------+
|   name|dept_id|dept_name|
+-------+-------+---------+
|  Alice|      1|       HR|
|    Bob|      2|  Finance|
|Charlie|      1|       HR|
|   Love|      2|  Finance|
|   Kiki|      2|  Finance|
|    Doe|      2|  Finance|
+-------+-------+---------+

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- BroadcastHashJoin [dept_id#361], [dept_id#365], Inner, BuildRight, false
   :- Filter ((isnotnull(name#360) AND (((dept_id#361 = 1) OR (dept_id#361 = 2)) AND NOT (name#360 = ))) AND isnotnull(dept_id#361))
   :  +- Scan ExistingRDD[emp_id#359,name#360,dept_id#361]
   +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [plan_id=714]
      +- Filter (((dept_id#365 = 1) OR (dept_id#365 = 2)) AND isnotnull(dept_id#365))
         +- Scan ExistingRDD[dept_id#365,dept_name#366]

In [ ]:
read_csv_df=spark.read.csv("/content/employees.csv",header=True)
read_csv_df.show()
read_csv_df.printSchema()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

root
 |-- EMPLOYEE_ID: string (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: string (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: string (nullable = true)

In [ ]:
emp.join(broadcast(dept),how="inner",on=(emp.dept_id==dept.dept_id) & ((emp.dept_id==1) | (emp.dept_id==2))

SyntaxError: incomplete input (<ipython-input-12-e092f684889c>, line 1)

In [ ]:
from pyspark.sql.functions import when
df=spark.read.csv("/content/employees.csv",header=True, inferSchema=True)
df.show()
df.printSchema()
df.withColumn("New",when(df.JOB_ID=="","Outsider").otherwise(df.JOB_ID)).show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|            - |       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|            - |       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-Jun-02|    HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|      NULL| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-Jun-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|            - |        - |           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: string (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|       New|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+----------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|            - |       124|           50|  SH_CLERK|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-Jan-08|  SH_CLERK|  2600|            - |       124|           50|  SH_CLERK|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|            - |       101|           10|   AD_ASST|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|            - |       100|           20|    MK_MAN|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-Aug-05|    MK_REP|  6000|            - |       201|           20|    MK_REP|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-Jun-02|    HR_REP|  6500|            - |       101|           40|    HR_REP|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|            - |       101|           70|    PR_REP|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|      NULL| 12008|            - |       101|          110|      NULL|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-Jun-02|AC_ACCOUNT|  8300|            - |       205|          110|AC_ACCOUNT|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|            - |        - |           90|   AD_PRES|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|            - |       100|           90|     AD_VP|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|            - |       100|           90|     AD_VP|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|            - |       102|           60|   IT_PROG|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|            - |       103|           60|   IT_PROG|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|            - |       103|           60|   IT_PROG|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|            - |       103|           60|   IT_PROG|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|            - |       103|           60|   IT_PROG|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|            - |       101|          100|    FI_MGR|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|            - |       108|          100|FI_ACCOUNT|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|            - |       108|          100|FI_ACCOUNT|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+----------+
only showing top 20 rows