<a href="https://colab.research.google.com/github/Anjanisinghthakur/Google-Colab/blob/main/Pyspark_DF2_Handling_Nulls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [36]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Handling Nulls').master("local[*]").getOrCreate()

In [37]:
# handle nulls fillna()
schema_str="EMPLOYEE_ID int, FIRST_NAME string, LAST_NAME string, EMAIL string ,PHONE_NUMBER string, HIRE_DATE string,JOB_ID string, SALARY int,COMMISSION_PCT string, MANAGER_ID int, DEPARTMENT_ID int "
df=spark.read.csv("/content/employees.csv", header=True, schema=schema_str)

df=df.fillna({"Email":"Yet to provide","PHONE_NUMBER":"Not provided","JOB_ID": "Hiring in prog","MANAGER_ID":0 })
df.show()

+-----------+----------+---------+--------------+------------+---------+--------------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|         EMAIL|PHONE_NUMBER|HIRE_DATE|        JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------------+------------+---------+--------------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|      DOCONNEL|650.507.9833|21-Jun-07|      SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|        DGRANT|Not provided|13-Jan-08|      SH_CLERK|  2600|            - |         0|           50|
|        200|  Jennifer|   Whalen|       JWHALEN|515.123.4444|17-Sep-03|       AD_ASST|  4400|            - |       101|         NULL|
|        201|   Michael|Hartstein|      MHARTSTE|515.123.5555|17-Feb-04|        MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|Yet to provide|603.123.6666|17-Aug-05|        MK_REP|  6000|            - |       201|           20|
|        203|     Susan|   Mavris|       SMAVRIS|515.123.7777|     NULL|        HR_REP|  6500|            - |       101|           40|
|        204|   Hermann|     Baer|         HBAER|515.123.8888|07-Jun-02|        PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|      SHIGGINS|515.123.8080|07-Jun-02|Hiring in prog| 12008|            - |       101|          110|
|        206|   William|    Gietz|        WGIETZ|Not provided|07-Jun-02|    AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|         SKING|515.123.4567|17-Jun-03|       AD_PRES| 24000|            - |         0|           90|
|        101|     Neena|  Kochhar|      NKOCHHAR|515.123.4568|21-Sep-05|         AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan|       LDEHAAN|515.123.4569|13-Jan-01|         AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold|       AHUNOLD|590.423.4567|03-Jan-06|       IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|        BERNST|590.423.4568|21-May-07|       IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin|       DAUSTIN|590.423.4569|25-Jun-05|       IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|      VPATABAL|590.423.4560|05-Feb-06|       IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|      DLORENTZ|590.423.5567|07-Feb-07|       IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|      NGREENBE|515.124.4569|17-Aug-02|        FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet|       DFAVIET|515.124.4169|16-Aug-02|    FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|         JCHEN|515.124.4269|28-Sep-05|    FI_ACCOUNT|  8200|            - |       108|          100|
+-----------+----------+---------+--------------+------------+---------+--------------+------+--------------+----------+-------------+
only showing top 20 rows

In [17]:
# handle nulls dropna()
schema_str="EMPLOYEE_ID int, FIRST_NAME string, LAST_NAME string, EMAIL string ,PHONE_NUMBER string, HIRE_DATE string,JOB_ID string, SALARY int,COMMISSION_PCT string, MANAGER_ID int, DEPARTMENT_ID int "
df=spark.read.csv("/content/employees.csv", header=True, schema=schema_str)
df=df.dropna(subset=["HIRE_DATE"])
df.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|            - |       124|           50|
|        199|   Douglas|    Grant|  DGRANT|        NULL|13-Jan-08|  SH_CLERK|  2600|            - |      NULL|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|            - |       101|         NULL|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|            - |       100|           20|
|        202|       Pat|      Fay|    NULL|603.123.6666|17-Aug-05|    MK_REP|  6000|            - |       201|           20|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|            - |       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|      NULL| 12008|            - |       101|          110|
|        206|   William|    Gietz|  WGIETZ|        NULL|07-Jun-02|AC_ACCOUNT|  8300|            - |       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|            - |      NULL|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|            - |       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|            - |       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|            - |       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|            - |       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|            - |       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|            - |       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|            - |       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|            - |       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|            - |       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|            - |       108|          100|
|        111|    Ismael|  Sciarra|ISCIARRA|515.124.4369|30-Sep-05|FI_ACCOUNT|  7700|            - |       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [35]:
# handle nulls using when &isNull()
from pyspark.sql.functions import when, coalesce, col
schema_str="EMPLOYEE_ID int, FIRST_NAME string, LAST_NAME string, EMAIL string ,PHONE_NUMBER string, HIRE_DATE string,JOB_ID string, SALARY int,COMMISSION_PCT string, MANAGER_ID int, DEPARTMENT_ID int "
df=spark.read.csv("/content/employees.csv", header=True, schema=schema_str)
df=df.withColumn("new_dept", when(df.DEPARTMENT_ID.isNull(),0).otherwise(df.DEPARTMENT_ID))
df.show()
# using coalesce
df=df.withColumn("new_manager", coalesce(df.MANAGER_ID,df.DEPARTMENT_ID))
df.show()
df.printSchema()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+--------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|new_dept|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+--------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|            - |       124|           50|      50|
|        199|   Douglas|    Grant|  DGRANT|        NULL|13-Jan-08|  SH_CLERK|  2600|            - |      NULL|           50|      50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|            - |       101|         NULL|       0|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|            - |       100|           20|      20|
|        202|       Pat|      Fay|    NULL|603.123.6666|17-Aug-05|    MK_REP|  6000|            - |       201|           20|      20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|     NULL|    HR_REP|  6500|            - |       101|           40|      40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|            - |       101|           70|      70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|      NULL| 12008|            - |       101|          110|     110|
|        206|   William|    Gietz|  WGIETZ|        NULL|07-Jun-02|AC_ACCOUNT|  8300|            - |       205|          110|     110|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|            - |      NULL|           90|      90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|            - |       100|           90|      90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|            - |       100|           90|      90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|            - |       102|           60|      60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|            - |       103|           60|      60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|            - |       103|           60|      60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|            - |       103|           60|      60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|            - |       103|           60|      60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|            - |       101|          100|     100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|            - |       108|          100|     100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|            - |       108|          100|     100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+--------+
only showing top 20 rows

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+--------+-----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|new_dept|new_manager|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+--------+-----------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-Jun-07|  SH_CLERK|  2600|            - |       124|           50|      50|        124|
|        199|   Douglas|    Grant|  DGRANT|        NULL|13-Jan-08|  SH_CLERK|  2600|            - |      NULL|           50|      50|         50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-Sep-03|   AD_ASST|  4400|            - |       101|         NULL|       0|        101|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-Feb-04|    MK_MAN| 13000|            - |       100|           20|      20|        100|
|        202|       Pat|      Fay|    NULL|603.123.6666|17-Aug-05|    MK_REP|  6000|            - |       201|           20|      20|        201|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|     NULL|    HR_REP|  6500|            - |       101|           40|      40|        101|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-Jun-02|    PR_REP| 10000|            - |       101|           70|      70|        101|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-Jun-02|      NULL| 12008|            - |       101|          110|     110|        101|
|        206|   William|    Gietz|  WGIETZ|        NULL|07-Jun-02|AC_ACCOUNT|  8300|            - |       205|          110|     110|        205|
|        100|    Steven|     King|   SKING|515.123.4567|17-Jun-03|   AD_PRES| 24000|            - |      NULL|           90|      90|         90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-Sep-05|     AD_VP| 17000|            - |       100|           90|      90|        100|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-Jan-01|     AD_VP| 17000|            - |       100|           90|      90|        100|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-Jan-06|   IT_PROG|  9000|            - |       102|           60|      60|        102|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-May-07|   IT_PROG|  6000|            - |       103|           60|      60|        103|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-Jun-05|   IT_PROG|  4800|            - |       103|           60|      60|        103|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-Feb-06|   IT_PROG|  4800|            - |       103|           60|      60|        103|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-Feb-07|   IT_PROG|  4200|            - |       103|           60|      60|        103|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-Aug-02|    FI_MGR| 12008|            - |       101|          100|     100|        101|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-Aug-02|FI_ACCOUNT|  9000|            - |       108|          100|     100|        108|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-Sep-05|FI_ACCOUNT|  8200|            - |       108|          100|     100|        108|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+--------+-----------+
only showing top 20 rows

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)
 |-- new_dept: integer (nullable = true)
 |-- new_manager: integer (nullable = true)